<navbar-component></navbar-component>
<p-toast></p-toast>

<div class="card">
  <p-table
    #dt
    [value]="customers"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'country.name',
      'representative.name',
      'status'
    ]"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between topBar">
        <h2 class="p-m-0">Customers Data</h2>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="filter($event)"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="first_name">
          First Name <p-sortIcon field="first_name"></p-sortIcon>
        </th>
        <th pSortableColumn="last_name">
          Last Name <p-sortIcon field="last_name"></p-sortIcon>
        </th>
        <th pSortableColumn="gender">
          Gender <p-sortIcon field="gender"></p-sortIcon>
        </th>
        <th pSortableColumn="country">
          Country <p-sortIcon field="country"></p-sortIcon>
        </th>
        <th pSortableColumn="carDetails.car_make">
          Car's Company <p-sortIcon field="carDetails.car_make"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" class="column" let-customer>
      <tr>
        <td (click)="openCustomer(customer)">{{ customer.first_name }}</td>
        <td (click)="openCustomer(customer)">{{ customer.last_name }}</td>
        <td (click)="openCustomer(customer)">{{ customer.gender }}</td>
        <td (click)="openCustomer(customer)">{{ customer.country }}</td>
        <td (click)="openCustomer(customer)">
          {{ customer.carDetails.car_make }}
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-primary editButton"
            (click)="editCustomer(customer)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
            (click)="deleteCustomer(customer)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ customers ? customers.length : 0 }} customers.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="customerInfoDialog"
  [style]="{ width: '90vw' }"
  header="Customer Info"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="customer">
      <div class="customer__top">
        <p-avatar
          [style]="{
            fontSize: '2.5rem',
            'background-color': '#333',
            color: '#ffffff',
            width: '100px',
            height: '100px',
            marginRight: '20px'
          }"
          shape="circle"
          size="large"
          label="{{
            customer.first_name.charAt(0) + ' ' + customer.last_name.charAt(0)
          }}"
        ></p-avatar>
        <div class="customer__top__info">
          <h1>{{ customer.first_name }} {{ customer.last_name }}</h1>
          <h3>{{ customer.email }}</h3>
        </div>
      </div>
      <hr class="hr" />

      <div class="customer__details">
        <div class="customer__details__item">
          <p-fieldset legend="Personal Information">
            <info-component
              [label]="'First Name'"
              [value]="customer.first_name"
            ></info-component>
            <info-component
              [label]="'Last Name'"
              [value]="customer.last_name"
            ></info-component>
            <info-component
              [label]="'Email'"
              [value]="customer.email"
            ></info-component>
            <info-component
              [label]="'Gender'"
              [value]="customer.gender"
            ></info-component>
            <info-component
              [label]="'Street'"
              [value]="customer.street_address"
            ></info-component>
            <info-component
              [label]="'City'"
              [value]="customer.city"
            ></info-component>
            <info-component
              [label]="'Postal Code'"
              [value]="customer.postal_code"
            ></info-component>
            <info-component
              [label]="'Country'"
              [value]="customer.country"
            ></info-component>
          </p-fieldset>
        </div>
        <div class="customer__details__item">
          <p-fieldset legend="Car Details">
            <info-component
              [label]="'Car Company'"
              [value]="customer.carDetails.car_make"
            ></info-component>
            <info-component
              [label]="'Car Model'"
              [value]="customer.carDetails.car_model"
            ></info-component>
            <info-component
              [label]="'Car Color'"
              [value]="customer.carDetails.car_color"
            ></info-component>
            <info-component
              [label]="'Car Year'"
              [value]="customer.carDetails.car_year.toString()"
            ></info-component>
            <info-component
              [label]="'Automatic'"
              [value]="customer.carDetails.automatic ? 'YES' : 'NO'"
            ></info-component>
            <info-component
              [label]="'VIN'"
              [value]="customer.carDetails.VIN"
            ></info-component>
            <info-component
              [label]="'Price'"
              [value]="customer.carDetails.price"
            ></info-component>
          </p-fieldset>
        </div>
        <div class="customer__details__item">
          <p-fieldset legend="Car Specifications">
            <info-component
              [label]="'Horse Power'"
              [value]="customer.carSpecifications.HorsePower"
            ></info-component>
            <info-component
              [label]="'Fuel Economy'"
              [value]="customer.carSpecifications.FuelEconomy"
            ></info-component>
            <info-component
              [label]="'Warranty'"
              [value]="customer.carSpecifications.Warranty"
            ></info-component>
          </p-fieldset>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Close"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideInfoDialog()"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="customerDialog"
  [style]="{ width: '800px' }"
  header="Customer Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-grid">
      <div class="p-field p-col">
        <label for="frist_name">First Name</label>
        <input
          type="text"
          pInputText
          id="first_name"
          [(ngModel)]="customer.first_name"
          required
          autofocus
        />
        <small class="p-invalid" *ngIf="submitted && !customer.first_name"
          >First Name is required.</small
        >
      </div>
      <div class="p-field p-col">
        <label for="last_name">Last Name</label>
        <input
          type="text"
          pInputText
          id="last_name"
          [(ngModel)]="customer.last_name"
          required
          autofocus
        />
        <small class="p-invalid" *ngIf="submitted && !customer.last_name"
          >Last Name is required.</small
        >
      </div>
    </div>
    <div class="p-grid">
      <div class="p-field p-col">
        <label for="email">Email</label>
        <input
          type="email"
          pInputText
          id="email"
          [(ngModel)]="customer.email"
          required
          autofocus
        />
        <small class="p-invalid" *ngIf="submitted && !customer.email"
          >Email is required.</small
        >
      </div>
      <div class="p-field p-col">
        <label for="gender">Gender</label>
        <input
          type="text"
          pInputText
          id="gender"
          [(ngModel)]="customer.gender"
          required
          autofocus
        />
        <small class="p-invalid" *ngIf="submitted && !customer.gender"
          >Last Name is required.</small
        >
      </div>
    </div>

    <div class="p-field">
      <label for="address">Street Address</label>
      <textarea
        id="address"
        pInputTextarea
        [(ngModel)]="customer.street_address"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>

    <div class="p-grid">
      <div class="p-field p-col">
        <label for="city">City</label>
        <input
          type="text"
          pInputText
          id="city"
          [(ngModel)]="customer.city"
          required
          autofocus
        />
        <small class="p-invalid" *ngIf="submitted && !customer.city"
          >City is required.</small
        >
      </div>
      <div class="p-field p-col">
        <label for="postal_code">Postal Code</label>
        <input
          type="text"
          pInputText
          id="postal_code"
          [(ngModel)]="customer.postal_code"
          required
          autofocus
        />
        <small class="p-invalid" *ngIf="submitted && !customer.postal_code"
          >Postal Code is required.</small
        >
      </div>
    </div>

    <h3 class="customer__dialog__title">Car Details</h3>

    <div class="p-grid">
      <div class="p-field p-col">
        <label for="company">Company</label>
        <input
          type="text"
          pInputText
          id="company"
          [(ngModel)]="customer.carDetails.car_make"
          required
          autofocus
        />
        <small
          class="p-invalid"
          *ngIf="submitted && !customer.carDetails.car_make"
          >Company is required.</small
        >
      </div>
      <div class="p-field p-col">
        <label for="model">Model</label>
        <input
          type="text"
          pInputText
          id="model"
          [(ngModel)]="customer.carDetails.car_model"
          required
          autofocus
        />
        <small
          class="p-invalid"
          *ngIf="submitted && !customer.carDetails.car_model"
          >Car Model is required.</small
        >
      </div>
    </div>

    <div class="p-grid">
      <div class="p-field p-col">
        <label for="color">Color</label>
        <input
          type="text"
          pInputText
          id="color"
          [(ngModel)]="customer.carDetails.car_color"
          required
          autofocus
        />
        <small
          class="p-invalid"
          *ngIf="submitted && !customer.carDetails.car_color"
          >Car Color is required.</small
        >
      </div>
      <div class="p-field p-col">
        <label for="year">Car Year</label>
        <input
          type="text"
          pInputText
          id="year"
          [(ngModel)]="customer.carDetails.car_year"
          required
          autofocus
        />
        <small
          class="p-invalid"
          *ngIf="submitted && !customer.carDetails.car_year"
          >Car Year is required.</small
        >
      </div>
    </div>

    <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label>Automatic</label>
        <p-toggleButton
          style="margin: 1rem 0 !important"
          onLabel="Yes"
          offLabel="No"
          onIcon="pi pi-check"
          offIcon="pi pi-times"
          [(ngModel)]="customer.carDetails.automatic"
        ></p-toggleButton>
      </div>
      <div class="p-field p-col">
        <label for="price">Price</label>
        <input
          type="text"
          pInputText
          id="price"
          [(ngModel)]="customer.carDetails.price"
          required
          autofocus
        />
        <small class="p-invalid" *ngIf="submitted && !customer.carDetails.price"
          >Price is required.</small
        >
      </div>
    </div>

    <div class="p-field">
      <label for="vin">VIN</label>
      <input
        type="text"
        pInputText
        id="vin"
        [(ngModel)]="customer.carDetails.VIN"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !customer.carDetails.VIN"
        >VIN is required.</small
      >
    </div>

    <h3 class="customer__dialog__title">Car Specifications</h3>

    <div class="p-grid">
      <div class="p-field p-col">
        <label for="horse">Horse Power</label>
        <input
          type="text"
          pInputText
          id="horse"
          [(ngModel)]="customer.carSpecifications.HorsePower"
          required
          autofocus
        />
        <small
          class="p-invalid"
          *ngIf="submitted && !customer.carSpecifications.HorsePower"
          >Horse Power is required.</small
        >
      </div>
      <div class="p-field p-col">
        <label for="fuel">Fuel Economy</label>
        <input
          type="text"
          pInputText
          id="fuel"
          [(ngModel)]="customer.carSpecifications.FuelEconomy"
          required
          autofocus
        />
        <small
          class="p-invalid"
          *ngIf="submitted && !customer.carSpecifications.FuelEconomy"
          >Fue lEconomy is required.</small
        >
      </div>
    </div>

    <div class="p-field">
      <label for="warranty">Warranty</label>
      <input
        type="text"
        pInputText
        id="warranty"
        [(ngModel)]="customer.carSpecifications.Warranty"
        required
        autofocus
      />
      <small
        class="p-invalid"
        *ngIf="submitted && !customer.carSpecifications.Warranty"
        >Warranty is required.</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveCustomer()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
